@model LOG.PropznetCRM.Data.ViewModel.Agent.AgentProfileViewModel
@{
    ViewBag.Title = "UpdateProfile";
}
<form method="post" action="/User/UpdateProfile">
    <h3>Update Profile</h3>
        <div class="row">
            <div class="pad-md loginBox-bg">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="row">
                        <div class="col-md-4">
                            @Html.HiddenFor(model => model.Image)
                            <div class="form-group">
                                <input id="photo" type="file" multiple="false">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="text" class="text-size">
                                    First Name
                                </label>
                                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control " })
                                @Html.ValidationMessageFor(model => model.FirstName)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="text" class="text-size">
                                    Last Name
                                </label>
                                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.LastName)
                            </div>
                        </div>
                    </div>
                        </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="text" class="text-size">
                                Phone
                            </label>
                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Phone)
                        </div>
                        <div class="form-group">
                            <label for="text" class="text-size">
                                Email
                            </label>
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                        <div class="form-group">
                            <label for="text" class="text-size">
                                DED License Number
                            </label>
                            @Html.TextBoxFor(model => model.DEDlicenseNumber, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DEDlicenseNumber)
                        </div>
                       
                    </div>
                    
                        <div class="col-md-6"><div class="form-group">
                        <label for="text" class="text-size">
                        Website
                        </label>
                        @Html.TextBoxFor(model => model.Website, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Website)
                        </div>
                    </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="text" class="text-size">
                                    RERA Registration Number
                                </label>
                                @Html.TextBoxFor(model => model.RERAregistrationNumber, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.RERAregistrationNumber)
                            </div>
                            </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="text" class="text-size">
                                    Address
                                </label>
                                @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @rows = 3 })
                                @Html.ValidationMessageFor(model => model.Address)
                            </div>

                        </div>
                
                <div class="form-group col-md-12 marL-md">
                    <input type="submit" class="btn btn-primary" value="Update" />
                    <input type="reset" class="btn btn-default" value="Reset" />
                    <label class="text-success">@ViewBag.Message</label>
                </div>
            </div>
        </div> 
      </div>
</form>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#photo").fileinput({
                showCaption: false,
                initialPreview: ["<img src='/Upload/Agent/@ViewBag.Image' class='file-preview-image' style='width:100%;height:100%' alt='Desert' title='Desert'>"],
                showUpload: false,
                showRemove: false,
                allowedFileTypes: ["image"],
                allowedPreviewTypes: ["image"],
                allowedFileExtensions: ["jpg", "jpeg", "png"]
            });
        });
        $('#photo').on('change', function (e) {
            var files = e.target.files;
             if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        data.append("file" + x, files[x]);
                    }

                    $.ajax({
                        type: "POST",
                        url: '/User/UploadFile',
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (result) {
                            alert(result);
                            document.getElementById("Image").value = result;
                        },
                        error: function (xhr, status, p3, p4) {
                            var err = "Error " + " " + status + " " + p3 + " " + p4;
                            if (xhr.responseText && xhr.responseText[0] == "{")
                                err = JSON.parse(xhr.responseText).Message;
                            console.log(err);
                        }
                    });
                } else {
                    alert("This browser doesn't support HTML5 file uploads!");
                }
            }
        });
    </script>
}